@import "fonts";
/* Цвета */
$textOnLight: #191b29;
$textOnDark: #ffffff;
$SliderTitle: #6c61ac;
$btnColor: #891ad3;
$mainDark: #343a40;
$mainGrey: #6d6d6d;
$mainLightGrey: #acacac;
$mainBlue: #007bff;
$logoColor: #944796;
/* Шрифты */
$mainFont: "Inconsolata", monospace;
/* root for slider buttons */
$--scale--ratio: 1;
