@import "../../vars";

.slider-wrapper {
  position: relative;
  height: 90.5vh;
  width: 100vw;
}

.slide-container {
  flex-direction: row;
  display: flex;
  height: 100%;
  overflow: hidden;
}
.slide {
  display: inline-block;
  text-align: center;
  width: 100vw;
  overflow: hidden;
}
.slide .inner {
  width: 100%;
  height: 100%;
}
.slide .inner h1 {
  font-weight: 900;

  max-width: 840px;
  color: #db0cff;
  font-size: 55px;

  margin: 7% auto 0 auto;
}

.slide .inner h3 {
  position: relative;
  margin: 0;
  top: 50%;

  background: #000000ba;
  color: #ffffff;
  font-size: 20px;
}

.nextArrow,
.backArrow {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transform: scale($--scale--ratio) translateY(-50%);
  transition: all ease-in 0.2s;
}

.nextArrow:hover,
.backArrow:hover {
  $--scale--ratio: 1.1;
  background: #e0dede;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;
}

.fa-arrow-right:before,
.fa-arrow-left:before {
  color: #222;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;
}

.dots-wrapper {
  position: absolute;
  border-radius: 12px;
  background-color: #000000b3;
  top: 90%;
  right: 50%;
  transform: translate(50%, -50%);
  width: auto;
  z-index: 999;
  display: flex;
}
.dot {
  color: #f7f6f6;
  font-size: 2.5em;
  cursor: pointer;
  margin: 0 3px;
  text-shadow: 1px -1px 2px #f5d4d4;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (max-width: 640px) {
  .slide .inner h1 {
    font-size: 45px;
  }
}
